<!DOCTYPE html>
<html>
<head>
	<title>Brendon's Class Notes</title>
	<link rel="stylesheet" href="stylesheets/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
		<div>
			<h1>Class Notes</h1>
			<h2>Lesson 5.6</h2>
			<p>Udacity Intro to Programming Nanodegree</p>
			<p>Brendon Brown</p>
		</div>
	</header>

	{% block content %}
	{% endblock %}

	<footer>
			<h3>About this website design...</h3>
			<p>This is very simple site, and so did not require a whole lot of adaptive design. It includes the proper meta viewport tag, and one single breakpoint to enlarge font sizes and input boxes and buttons to help with smaller screens.</p>
	</footer>
</body>
</html>